<form ng-submit="login()" layout="column" layout-align="start center">
	<md-input-container flex>
		<md-icon md-font-set="material-icons">account_circle</md-icon>
		<input ng-model="credentials.username" type="text" placeholder="User" ng-required="true">
	</md-input-container>
	<md-input-container flex>
		<md-icon md-font-set="material-icons">lock</md-icon>
		<input ng-model="credentials.password" type="password" placeholder="Password" ng-required="true">
	</md-input-container>
	<md-input-container flex>
		<md-button type="submit">Entrar</md-button>
	</md-input-container>
</form>